@font-face{
  font-family:Fucxed-Caps;
  src:url("../fonts/FUCXEDCAPS.otf");
}
* {
  box-sizing: border-box;
  --bg-color: rgb(220,79,0);
  --fg-color: rgba(255,255,255,0.5)
}

html{
  background-color: var(--bg-color);
  margin: 0;
  padding:0;
}

body{
  width:100%;
  margin: 0;
  padding:0;
  --nav-height: 5em;
  --max-width:22cm;
}
header{
  align-items: center;
  text-align: center;
}
header h1 {
  margin: 0.3cm;
  font-size: 72px;
}
header img {
  width:1em;
}
main{
  width:100%;
  margin:0 auto;
  max-width: var(--max-width);
  background: var(--fg-color);
  padding: 1em;
  border-radius: 1em;
}

h1,h2,h3,h4{
  font-family: Fucxed-Caps;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}

body :not(h1):not(h2):not(h3):not(h4){
  font-family:'Crimson Text', serif;
}

h1{
  font-size: 50px;
}
h2{
  font-size: 35px;
}
h3{
  font-size: 30px;
}
p,li{
  font-size: 20px;
}
blockquote{
  border-left: 1px solid black;
  padding-left: 1em;
  margin-left: 1em;
}
.title{
  text-align: center;
}
section:not(:last-child){
  border-bottom: 1px solid var(--bg-color);
}

a{
  color: black;
}
a {
  text-decoration: none;
  transition: 300ms;
  border-bottom: 1px solid black;
}

a:hover {
  border-color: transparent;
}

header a, footer a {
  border-bottom: 0;
}
nav{
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
  padding: 0;
  position: sticky;
  top:0;
  height:100%;
  border:0;
  background-color: var(--bg-color);
  z-index: 10;
  will-change : transform;
}
ul.menu{
  vertical-align:bottom;
  border:0;
  margin-left: 1em;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

}
.menu a{
  padding: 0.4em 0.6em;
}
.menu, .menu ul
{
	list-style: none;
	padding: 0 10px;
  display: inline-block;
}
.menu li
{
  vertical-align:bottom;
	float: left;
	margin-right: 3px;
	position: relative;
  border: 0;
  height: 100%;
}
.menu > li{
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.menu ul
{
	position: absolute;
	top: 100%;
	left: 0px;
	/* width: 200px; */
	padding: 0;
	display: none;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 5px 5px 2px var(--bg-color);
}
.menu ul li:last-child{
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.menu ul li
{
	float: none;
	margin: 0;
	padding: 0;
}
.menu a{
  vertical-align: bottom;
  border:0;
  height: 100%;
}
.menu a:link, .menu a:visited
{
	display: block;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
}
.menu li:hover
{
	background-color: var(--fg-color);
}
.menu li:hover ul
{
	display: block;
  background-color: var(--bg-color);
}

footer{
  margin:1em;
}

img.icon{
  transition: 300ms;
  width: 75px;
  /* -webkit-filter: grayscale(100%); */
  /* filter: grayscale(100%); */
  opacity: 0.5;
  padding: 0 0.5cm ;
}
img.icon:hover{
  /* -webkit-filter: grayscale(0);
  filter: grayscale(0); */
  opacity: 1;
}
div.social{
  text-align: center;
}

/* Formatting the action network signup */
/* #can_embed_form_inner :not(form){
  display:none;
} */
/* #can-form-area-axedrax{
  width: 75%;
  margin: 0 auto;
}
#logo_wrap,#action_info,.can_thank_you-block, #can_thank_you, #can_embed_form_inner > h2,h4 ,img.ajax-loading {
  display: none;
}
form {
}
#can_embed_form_inner form li {
  list-style: none;
}
#can_embed_form_inner .country_drop_wrap{
  /* The drop down list */
/* }
.checkbox_group_wrap{
  display: block;
}
span.check_radio_field label{
  display:block;
}
.control-group > *, .floatlabel-wrapper > *{
  display:block;
  padding: 0.1cm;
}
.control-group, .floatlabel-wrapper {
  /* text-align: center; */
  /* align-items: center;
}
.can_embed{
  margin
}
.control-group{
  padding: 0.1cm
}
textarea{
  width: 100%;
}
#form_col2{
  text-align: center;

} */
