@font-face{
  font-family:Fucxed-Caps;
  src:url("../fonts/FUCXEDCAPS.otf");
}
/* Animations */
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
*{
  box-sizing: border-box;
}
:root {
  --bg-color: rgb(220,79,0);
  --fg-color: rgba(255,255,255,0.7);
  --min-menu-size: 300px; /* currently relies on manual input */
}


html{
  background-color: var(--bg-color);
  margin: 0;
  padding:0;
}

body{
  width:100%;
  margin: 0;
  padding:0;
  --nav-height: 5em;
  --max-width:22cm;
}
header{
  align-items: center;
  text-align: center;
}
header h1 {
  margin: 0.3cm;
  font-size: min(18vw,72px);
}
header img {
  width:1em;
}

/* Navigation menu */

nav{
  width: 100%;
  /*When this outputs -ve it defaults to 0 */
  padding: 0 calc(calc(100% - var(--max-width)) / 2);
  position: sticky;
  top:0;
  height:100%;
  border:0;
  background-color: var(--bg-color);
  z-index: 100;
  /* will-change : transform; */

  --transition: 0.3s;
}
ul.menu{
  vertical-align:bottom;
  border:0;
  margin-left: 1em;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.menu a{
  padding: 0.4em 0.6em;
}
.menu, .menu ul
{
	list-style: none;
	padding: 0 10px;
  display: inline-block;
}
.menu li
{
  vertical-align:bottom;
	float: left;
	margin-right: 3px;
	position: relative;
  border: 0;
  height: 100%;
}
.menu > li{
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.menu ul
{
	position: absolute;
	top: 100%;
	left: 0px;
	min-width: 100%;
	padding: 0;
	display: none;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  opacity: 0;
  transition: var(--transition);
}
.menu ul li:last-child{
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.menu ul:hover{
  box-shadow: 2px 2px 1px 1px var(--bg-color);
  transition-duration: var(--transition);
}
.menu ul li
{
	float: none;
	margin: 0;
	padding: 0;
}
.menu a{
  vertical-align: bottom;
  border:0;
  height: 100%;
}
.menu a:link, .menu a:visited
{
	display: block;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
}
.menu li:hover
{
	background-color: var(--fg-color);
  transition-duration: var(--transition);
}
.menu li:hover ul
{
	display: block;
  opacity: 1;
  background-color: var(--bg-color);
}

/* Main section of page */

/* Main container positioning */
main, div.main.background,article{
  width: 100%;
}
div.main.background{
  background-image: url("/images/axedraxlogo_notext_onetree.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
main{
  background: var(--fg-color);
}
article{
  padding: 1em;
  margin: 0 auto;
  max-width: var(--max-width);
  overflow: hidden;
}
/* Article formatting */
h1,h2,h3,h4,h5,h6{
  font-family: Fucxed-Caps;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}

body :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6){
  font-family:'Crimson Text', serif;
}

h1{
  font-size: min(50px,14vw);
}
h2{
  font-size: min(35px,12vw);
}
h3{
  font-size: min(30px,11vw);
}
h4{
  font-size: min(28px,11vw);
}
h5{
  font-size: min(23px,9vw);
}
h6{
  font-size: min(20px,9vw);
}
p,li{
  font-size: 20px;
}
blockquote{
  border-left: 1px solid black;
  padding-left: 1em;
  margin-left: 1em;
}
cite::before{
  content:'- ';
}
.title{
  text-align: center;
}
section:not(:last-child){
  border-bottom: 1px solid var(--bg-color);
}
a {
  color: black;
  text-decoration: none;
  transition: 0.2s linear;
  border-bottom: 1px solid black;
}

a:hover {
  border-color: var(--bg-color);
  color: var(--bg-color);
}

header a, footer a {
  border-bottom: 0;
}
header a:hover, footer a:hover {
  color:inherit;
}

/* Footer */

footer{
  margin:1em;
}

img.icon{
  transition: 300ms;
  width: 75px;
  /* -webkit-filter: grayscale(100%); */
  /* filter: grayscale(100%); */
  opacity: 0.5;
  padding: 0 0.5cm ;
}
img.icon:hover{
  /* -webkit-filter: grayscale(0);
  filter: grayscale(0); */
  opacity: 1;
}
div.social{
  text-align: center;
}




/* Formatting the action network signup */
/* #can_embed_form_inner :not(form){
  display:none;
} */
/* #can-form-area-axedrax{
  width: 75%;
  margin: 0 auto;
}
#logo_wrap,#action_info,.can_thank_you-block, #can_thank_you, #can_embed_form_inner > h2,h4 ,img.ajax-loading {
  display: none;
}
form {
}
#can_embed_form_inner form li {
  list-style: none;
}
#can_embed_form_inner .country_drop_wrap{
  /* The drop down list */
/* }
.checkbox_group_wrap{
  display: block;
}
span.check_radio_field label{
  display:block;
}
.control-group > *, .floatlabel-wrapper > *{
  display:block;
  padding: 0.1cm;
}
.control-group, .floatlabel-wrapper {
  /* text-align: center; */
  /* align-items: center;
}
.can_embed{
  margin
}
.control-group{
  padding: 0.1cm
}
textarea{
  width: 100%;
}
#form_col2{
  text-align: center;

} */
