@font-face{
  font-family:Fucxed-Caps;
  src:url("../fonts/FUCXEDCAPS.otf");
}
* {
  box-sizing: border-box;
}

html{
  background-color: rgb(220,79,0);
  margin: 0;
  padding:0;
}

body{
  width:100%;
  margin: 0;
  padding:0;
}
header{
  align-items: center;
  text-align: center;
}
header h1 {
  margin: 0.3cm;
  font-size: 72px;
}
main{
  width:100%;
  margin:0 auto;
  max-width:22cm;
  background: rgba(255,255,255,0.5);
  padding: 1em;
  border-radius: 1em;
}

h1,h2,h3,h4{
  font-family: Fucxed-Caps;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}

main :not(h1):not(h2):not(h3):not(h4){
  font-family:'Crimson Text', serif;
}

h1{
  font-size: 50px;
}
h2{
  font-size: 35px;
}
h3{
  font-size: 30px;
}
p,li{
  font-size: 20px;
}
blockquote{
  border-left: 1px solid black;
  padding-left: 1em;
  margin-left: 1em;
}
.title{
  text-align: center;
}
a{
  color: black;
}
a {
  text-decoration: none;
  transition: 300ms;
  border-bottom: 1px solid black;
}

a:hover {
  border-color: transparent;
}

header a, footer a {
  border-bottom: 0;
}
nav{
  text-align: center;
  margin: 0.7cm 0;

}
nav a{
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid black;
  border-radius: 0.5em;
  font-size: 20px
}
nav a:hover{

}

footer{
  margin:1em;
}

img.icon{
  transition: 300ms;
  width: 75px;
  /* -webkit-filter: grayscale(100%); */
  /* filter: grayscale(100%); */
  opacity: 0.5;
  padding: 0 0.5cm ;
}
img.icon:hover{
  /* -webkit-filter: grayscale(0);
  filter: grayscale(0); */
  opacity: 1;
}
div.social{
  text-align: center;
}

/* Formatting the action network signup */
/* #can_embed_form_inner :not(form){
  display:none;
} */
/* #can-form-area-axedrax{
  width: 75%;
  margin: 0 auto;
}
#logo_wrap,#action_info,.can_thank_you-block, #can_thank_you, #can_embed_form_inner > h2,h4 ,img.ajax-loading {
  display: none;
}
form {
}
#can_embed_form_inner form li {
  list-style: none;
}
#can_embed_form_inner .country_drop_wrap{
  /* The drop down list */
/* }
.checkbox_group_wrap{
  display: block;
}
span.check_radio_field label{
  display:block;
}
.control-group > *, .floatlabel-wrapper > *{
  display:block;
  padding: 0.1cm;
}
.control-group, .floatlabel-wrapper {
  /* text-align: center; */
  /* align-items: center;
}
.can_embed{
  margin
}
.control-group{
  padding: 0.1cm
}
textarea{
  width: 100%;
}
#form_col2{
  text-align: center;

} */
