<section class="title">
  <h1>Add new website content</h1>
</section>
<form class="newcontent" action="/new" method="post">
  <p class="error"><%= error %></p>
  <label for="url">URL for your page</label>
  <br>
  <div class="">
    <input id="url" type="text" name="url" value="<%= url %>">
    <input type="submit" name="edit" value="Load if existing...">
  </div>
  <br>
  <label for="content">Markdown content</label>
  <br>
  <textarea id="content" name="content" value=""><%= pageContent %></textarea>
  <br>
  <input type="submit" name="submit" value="Go">
</form>
